html{background-color: #ddf2fd;}
h1{color: #ddf2fd; background-color: #164863;}
h2{color: #ddf2fd; background-color: #164863;}
h3{color: #ddf2fd; background-color: #164863;}
p{color: #427d9d;}
li{color: #427d9d;}